@use '/src/styles/vars';
.loader-container{
  margin-top: 20%;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid vars.$primary-color;
  border-color: vars.$primary-color transparent vars.$primary-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0 -50%);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
