@use '/src/styles/vars';

.affiche{
  position: relative;
  z-index: 1;
  height: 10vw;
  width: calc(100vw / 14);
  min-height: 150px;
  min-width: 100px;
  transition: transform 2s, box-shadow 2s, z-index 2s;
  &:hover{
    z-index: 5;
    box-shadow: 0px 0px 8px 4px orange;
    transition: transform 0.5s, box-shadow 0.5s, z-index 0.5s;
    transform: scale(110%);
  }
}
