@use '/src/styles/vars';

.panel-btns{
  visibility: hidden;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  position: absolute;
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-around;
  align-items: center;
  top: 0rem;
  & > button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    filter: invert(100%);
    border-radius: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 1rem;
    
    &:hover, :active{
      background-color: rgba(68, 54, 54, 0.267);
    }
  }
}

.btn-last {
  background-image: url('/public/icons/skip-start-fill.svg');
}
.btn-back-time {
  background-image: url('/public/icons/rewind-fill.svg');
}
.btn-fullscreen{
  background-image: url('/public/icons/arrows-fullscreen.svg');
}
.btn-backscreen{
  display: none;
  background-image: url('/public/icons/fullscreen-exit.svg');
}
#container-video:fullscreen > .panel-btns {
  & > .btn-fullscreen { display: none; }
  & > .btn-backscreen { display: block; }
}
.btn-forward-time {
  background-image: url('/public/icons/fast-forward-fill.svg');
}
.btn-next {
  background-image: url('/public/icons/skip-end-fill.svg');
}
