@use '/src/styles/vars';

.user-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 1rem;

  & > .title {
    font-size: 1.5em;
    font-weight: bold;
  }

  & > .list-users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
    width: 100%;
    min-height: 220px;
    overflow-x: auto;

    & > .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .user{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &:hover > .login{
          text-shadow: 0px 0px 20px white;
          transition: transform 0.5s, text-shadow 0.5s;
          transform: scale(110%);
        }

        &:hover > .picture{
          box-shadow: 0px 0px 8px 4px orange;
          transition: transform 0.5s, box-shadow 0.5s;
          transform: scale(110%);
        }

        & > .picture{
          border-radius: 1vh;
          transition: transform 0.5s, box-shadow 0.5s;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          object-position: 100%;
        }

        & > .login {
          font-weight: bold;
          transition: transform 0.5s, text-shadow 0.5s;
        }   
      }

      & .trash{
        filter: invert(69%) sepia(75%) saturate(2354%) hue-rotate(357deg) brightness(100%) contrast(105%);
        background-color: rgba(255, 99, 71, 0);
        border-color: orange;
        border-radius: 1vh;
        transition: transform 0.5s, box-shadow 0.5s;
        background-image: url("/public/icons/trash.svg");
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        object-position: 100%;
        transition: background-color 1s, border-color 1s;

        &:hover {
          filter: none;
          border-color: black;
          transition: background-color 1s, border-color 1s;
          background-color: orange;
        }
      }
    }
  }

  & > .create {
    cursor: pointer;
    color: red;
  }
}
