@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-color: vars.$background-color;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: vars.$primary-color vars.$background-color;
    box-sizing: border-box;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: vars.$background-secondary-color;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: vars.$primary-color;
    border-radius: 10px;
    border: 3px solid vars.$background-secondary-color;
  }
  input{
    background: vars.$background-color;
    border: 1px solid vars.$primary-color;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: vars.$primary-color;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
   
  }
  input:hover,
  input:active {
    background-color: vars.$primary-color;
    background-position: 0 0;
    color: vars.$background-color;

  }
  input:active {
    opacity: .5;
  }
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
.visible {
  visibility: visible !important;
}
.hidden {
  visibility: hidden !important;
}
