@use '/src/styles/vars';

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  text-align: center;
  color: vars.$primary-color;
  /* Valeurs avec un mot-clé */
  user-select: none;

  /* Valeurs globales */
  user-select: unset;

  /* Valeurs spécifiques à Mozilla */
  -moz-user-select: none;

  /* Valeurs spécifiques à WebKit */
  -webkit-user-select: none;

  /* Valeurs spécifiques à Microsoft */
  -ms-user-select: none;
}

.app img {
  max-width: 150px;
}
body{
  margin-top: 5rem;
}
.modal {
  z-index: 2;
}
#modal {
  color: vars.$primary-color !important;
  background-color: vars.$background-color!important;
  border-color: vars.$background-color !important;
  top: 50% !important;
  left: 50%!important;
  right: auto!important;
  bottom: auto!important;
  margin-right: -50%!important;
  transform: translate(-50%, -50%)!important;
  max-width: 95%;
}
.list-users{
  display: flex;
  gap: 2rem;
}
