@use '/src/styles/vars';
.container-select{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.eye{
  color: vars.$background-secondary-color;
}
select {
  max-width: 200px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.8vh;
  margin: 0 1rem;
  text-align: center;
  color: vars.$primary-color;
  font-weight: bold;
}
