@use '/src/styles/vars';

.affiche{
  height: 150px;
  width: 100px;
  transition: transform 0.2s, box-shadow 1s;
  &:hover{
    box-shadow: 0px 0px 8px 4px orange;
    transition: transform 0.5s, box-shadow 0.5s;
    transform: scale(110%);
  }
}
